# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables
.env
.env.*
.env.local
.env.*.local

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Playwright
/ms-playwright/

# Next.js
.next/
out/
node_modules/
tsconfig.tsbuildinfo
next-env.d.ts

# Logs
*.log
.vercel
.env*.local
